@charset "UTF-8";


@media screen and (max-width: 768px) {

/* -------------------------------------------------------------------
	* 全体構造
--------------------------------------------------------------------- */

h1 {
   font-size: 18px; /* 変更 */
}

h2 {
   font-size: 24px; /* 変更 */
}

h3 {
   font-size: 16px; /* 変更 */
}

p, a {
   font-size: 16px; /* 変更 */
}

.inner {
   padding: 50px 30px; /* 変更 */
}

/* -------------------------------------------------------------------
	* ヘッダー
--------------------------------------------------------------------- */

header ul {
   display: none; /* 変更 */
}

/* -------------------------------------------------------------------
	* メインビジュアル
--------------------------------------------------------------------- */

.mainvisual h2 {
   font-size: 32px; /* 変更 */
}

/* -------------------------------------------------------------------
	* WORKS
--------------------------------------------------------------------- */

.works-card-wrapper {
   display: block; /* 変更 */
}

.works-card-wrapper:last-child {
   margin-top: 0; /* 変更 */
}

.works-card {
   width: 100%; /* 変更 */
   margin-top: 20px; /* 追加 */
}

/* -------------------------------------------------------------------
	* CONTACT
--------------------------------------------------------------------- */

input {
   width: 100%; /* 変更 */
}

textarea {
   width: 100%; /* 変更 */
}

/* -------------------------------------------------------------------
	* フッター
--------------------------------------------------------------------- */

footer p {
   padding: 10px 0; /* 変更 */
}

}
